<head>
  <link rel="stylesheet" href="/stylesheets/detail.css">
</head>
<a class="btn btn-primary mt-3" href="/homepage">Back</a>
<br>
<a href=""></a>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="{{rubik.image}}" />
    </div>

    <div class="col">
      <h1>Rubik detail</h1>
      <h5 class="mt-5">Category: {{rubik.category}}</h5>
      <h5>Name: {{rubik.name}}</h5>
      <h5>Price: {{rubik.price}} vnd</h5>
      <form action="/homepage/order" method="post">
      <input
          type="number"
          name="quantity"
          min="1"
          max="{{ rubik.quantity }}"
          value="1"
        />
        <input type="hidden" name="id" value="{{ rubik._id }}">
        <input type="hidden" name="price" value="{{ rubik.price }}">
        <input type="submit" class="btn btn-primary" value="Order" />
      </form>
    </div>
  </div>
</div>