<a class="btn btn-primary mt-3" href="/">Back</a>
<div class="container mt-3 mb-3">
  <h1>Rubik Management</h1>
  <a href="/toy/rubik/add" class="btn btn-success">Add</a>
  <a
    onclick="return confirm('Are you sure you want to delete all')"
    href="/toy/rubik//deleteall"
    class="btn btn-danger"
  >Delete all</a>
  <table border="1" style="text-align:center">
    <tr>
      <th colspan="7">Rubik List</th>
    </tr>
    <tr>
      <th>Image</th>
      <th>Category</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Menu</th>
    </tr>
    {{#each rubik}}
      <tr>
        <th><img src="{{ image }}" width="200" height="300"></th>
        <th>{{category}}</th>
        <th>{{name}}</th>
        <th>{{price}} vnd</th>
        <th>{{quantity}}</th>
        <th>
            <a href="/toy/rubik/edit/{{ _id }}" class="btn btn-warning">Edit</a> 
            <a href="/toy/rubik//delete/{{ _id }}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this product?')">Delete</a>
        </th>
      </tr>
    {{/each}}
  </table>
</div>