<a class="btn btn-primary mt-3" href="/homepage">Back</a>
<div class="container" style="text-align:center">
  <h1>Order Successfully!</h1>
  <img src="{{rubik.image}}" width="300" height="400" />
  <h3>Name: {{rubik.name}}</h3>
  <h3>Price: {{rubik.price}} vnd</h3>
  <h3>Quantity: {{quantity}}</h3>
  <h3>Total: {{total}} vnd</h3>
</div>