<head>
  <link rel="stylesheet" href="/stylesheets/detail.css">
</head>
    <div class="topnav">
      <a class="active" href="/homepage/">Home Page</a>
    </div>
<br>
<a href=""></a>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="{{robot.image}}" />
    </div>

    <div class="col">
      <h1>Robot detail</h1>
      <h5 class="mt-5">Category: {{robot.category}}</h5>
      <h5>Name: {{robot.name}}</h5>
      <h5>Price: {{robot.price}} vnd</h5>
      <form action="/order/" method="post">
      <input
          type="number"
          name="quantity"
          min="1"
          max="{{ robot.quantity }}"
          value="1"
        />
        <input type="hidden" name="id" value="{{ robot._id }}">
        <input type="hidden" name="price" value="{{ robot.price }}">
        <input type="submit" class="btn btn-primary" value="Order" />
      </form>
    </div>
  </div>
</div>