<a class="btn btn-primary mt-3" href="/toy/robot">Back</a>
    <div class="container col-md-8 mt-3 mb-3">
        <form action="/toy/robot/edit/{{ robot._id }}" method="post">
            <h1 class="text text-danger">Edit Product</h1>
            <div class="form-group">
                <label class="h4 text text-success">Category</label>
                <input class="form-control" type="text" name="category" value="{{ robot.category}}">
            </div>
            <div class="form-group">
                <label class="h4 text text-success">Name</label>
                <input class="form-control" type="text" name="name" value="{{ robot.name }}">
            </div>
            <div class="form-group">
                <label class="h4 text text-success">Price</label>
                <input class="form-control" type="text" name="price" value="{{ robot.price }}">
            </div>
            <div class="form-group">
                <label class="h4 text text-success">Quantity</label>
                <input class="form-control" type="text" name="quantity" value="{{ robot.quantity }}">
            </div>
            <div class="form-group">
                <label class="h4 text text-success">Image url</label>
                <input class="form-control" type="text" name="image" value="{{ robot.image }}">
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Edit">
            </div>
        </form> 
    </div>